* {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin:0;

}

body{
  max-width: 100%;
  overflow-x: hidden;

}
h1 {
  text-align: center;
  color: #ff8242;
  margin-bottom: 40px;
  margin-top: 20px;
}

ul {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  background-image: linear-gradient(to right, #b1caf3,#ba9dee);
  width:100%;


}

.hover-underline {
  display: inline-block;
  position: relative;
  color: red;
  text-transform: uppercase;
  


}

.hover-underline::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  color: black;
  background-color: black;
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}

.hover-underline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
